.header { 
  grid-area: header;
  background: $bg-primary;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 8rem; 
  gap: 0px 0px; 
  grid-template-areas: 
    "container--navbar"
    "presentation";  
}