  .prestations{
    grid-area: prestations;
    background: $white;
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr;
    grid-gap:2rem;
    grid-template-areas: "title--prestations" 
                         "card";
    justify-content: center;
    & h2{
      position: relative;
      grid-area: title--prestations;
      font-size: $h2desktop;
      margin-top: 1rem;
      margin-left: 9rem;
        ::before{
          content:"";
          position: absolute;
          bottom:0rem;
          border-radius: 20rem;
          width: 3.5rem;
          height: 0.6rem;
          background: $secondary;
        }
    }
  }

@media screen and (max-width:$widthLabtop){

  .prestations{
    grid-area: prestations;
    background: $white;
    // padding: 1rem 2rem 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr;
    grid-gap:1rem;
    grid-template-areas: "title--prestations" 
    "card";
    justify-content: center;
    padding: 2rem 2rem;
    & h2{
      grid-area: title--prestations;
      font-size: $h2;
      margin-top: 1rem;
      margin-left: 0rem;
      position: relative;
        ::before{
          bottom:0.4rem;
        }
    }
//     & .container--card{
//     grid-template-columns: repeat(auto-fill, minmax(20rem,38rem));
//     grid-gap:1rem;
//     padding:0;
//     }
//     & h3{
//       font-size: $h3;
//     }
  }
}

